<div class="px-3 pt-3 mt-3" style=" background-color: blue; width: 460px;height: 220px;">
    <div style=" outline-style: solid; outline-color: yellow; width: 400px;height: 190px;">
        <h2 class="text-light px-3 text-end">To Do App!</h2>
        <p class="text-light px-3 text-end ">Add new To-Do</p>
        <input type="text" name="taskInput" id="taskInput" #taskInput class="form-control" placeholder="Add new task">
        <div class="justify-content-end px-3 mt-3">
            <button class="btn btn-primary justify-content-end" (click)="sendTask(taskInput.value)">Add!</button>
        </div>
    </div>
    
</div>
